<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
				<key>dateExpires</key>
				<string>7/20/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
						<key>dateExpires</key>
						<string>7/20/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85P349FCNT</string>
						<key>name</key>
						<string>PT.Istana Putra Lancar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
						<key>dateExpires</key>
						<string>7/20/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85P349FCNT</string>
						<key>name</key>
						<string>PT.Istana Putra Lancar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
						<key>dateExpires</key>
						<string>7/20/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85P349FCNT</string>
						<key>name</key>
						<string>PT.Istana Putra Lancar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
						<key>dateExpires</key>
						<string>7/20/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85P349FCNT</string>
						<key>name</key>
						<string>PT.Istana Putra Lancar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
						<key>dateExpires</key>
						<string>7/20/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftProtobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85P349FCNT</string>
						<key>name</key>
						<string>PT.Istana Putra Lancar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
						<key>dateExpires</key>
						<string>7/20/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>barcode_scan.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85P349FCNT</string>
						<key>name</key>
						<string>PT.Istana Putra Lancar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
						<key>dateExpires</key>
						<string>7/20/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_plugin_android_lifecycle.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85P349FCNT</string>
						<key>name</key>
						<string>PT.Istana Putra Lancar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
						<key>dateExpires</key>
						<string>7/20/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85P349FCNT</string>
						<key>name</key>
						<string>PT.Istana Putra Lancar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
						<key>dateExpires</key>
						<string>7/20/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85P349FCNT</string>
						<key>name</key>
						<string>PT.Istana Putra Lancar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
						<key>dateExpires</key>
						<string>7/20/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85P349FCNT</string>
						<key>name</key>
						<string>PT.Istana Putra Lancar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
						<key>dateExpires</key>
						<string>7/20/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85P349FCNT</string>
						<key>name</key>
						<string>PT.Istana Putra Lancar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDDC7FCA0A040F1D59109339986B025B56D66A84</string>
						<key>dateExpires</key>
						<string>7/20/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85P349FCNT</string>
						<key>name</key>
						<string>PT.Istana Putra Lancar</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>85P349FCNT.com.sgyx.sgyxcustomerapps</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>85P349FCNT</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>85P349FCNT.com.sgyx.sgyxcustomerapps</string>
				</array>
			</dict>
			<key>name</key>
			<string>SGYX.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1114022d-b646-41f7-b975-f96279ef6599</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.sgyx.sgyxcustomerapps</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>85P349FCNT</string>
				<key>name</key>
				<string>PT.Istana Putra Lancar</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
